@import "./styles/fonts.css";
@import "./styles/tailwind.css";

:root {
  --accent-color: #9b8340;
  --acent-hover: #7a6938;
}

/* In your global CSS file, e.g., globals.css or index.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  -webkit-scrollbar: none; /* Chrome, Safari, Opera */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}
